.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  width: 92vw;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.encabezado h3 {
  margin: 0;
  color: white;
}

.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

.descargar-reporte {
  background-color: #0071b0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.reporte-container {
  width: 85%;
}

.departamento-info {
  background-color: #E7E9F2;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #E7E9F2;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-col {
  flex: 1;
  margin-right: 10px;
}

.info-col:last-child {
  margin-right: 0;
}

.info-label {
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 2px;
}

.info-value {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}

.info-value-entrega {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  text-align: center;
}

.estado-entregada {
  background-color: #DFF1D8;
  color: #3B763D;
  font-weight: bold;
  padding: 5px 10;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.estado-sin-entregar {
  background-color: #FDF8E4;
  color: #8B6E3B;
  font-weight: bold;
  padding: 5px 10;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.estado-atrasada {
  background-color: #F9D1D3;
  color: #953D42;
  font-weight: bold;
  padding: 5px 10;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.notas-justificacion {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #E0E0E0;
}