/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  width: 92vw;
  height: 90vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  overflow: hidden; /* Para que el contenido adicional no desborde */
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}
  
  /* Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .encabezado h3 {
    margin: 0;
  }

   .titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

/* Aquí empieza el código */
.section-title {
  font-weight: bold;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  max-width: 100%;
  margin-left: 60px;
  margin-right: 60px;
}

.event-container {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Sombra */
  /* margin-bottom: 10px; */
  margin: 10px;
  max-width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;

}
    
.event-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.event-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.event-day {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 1.2rem;
}

.event-time {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}
    
.event-details {
  flex: 1;
}
    
.event-icons span.icon {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  /* margin-right: 5px; */
}
    
.event-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* intento de colores */
.event-icons span.icon {
  display: inline-block;
  color: #fff; /* Color de texto predeterminado */
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Estilos de colores individuales */
.event-icons span.icon-red {
  background-color: red;
}

.event-icons span.icon-green {
  background-color: green;
}

.event-icons span.icon-blue {
  background-color: blue;
}

.event-icons span.icon-pink {
  background-color: pink;
}

.event-icons span.icon-orange {
  background-color: orange;
}

.event-icons span.icon-purple {
  background-color: purple;
}

.event-icons span.icon-fuchsia {
  background-color: fuchsia;
}

.event-icons span.icon-teal {
  background-color: teal;
}

.event-icons span.icon-brown {
  background-color: brown;
}