/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  width: -webkit-fill-available;
  height: 91.5vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  align-self: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 5 0 5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Mozilla */
@-moz-document url-prefix() {
  .cuadro-principal {
    background-color: white;
    width:-moz-available;
    height: 91.5vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    align-self: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 5 0 5;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.cuadro-scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Encabezado */
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.encabezado h3 {
  margin: 0;
}

.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

/* Barra de Busqueda */
.busqueda {
  padding: 0px 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* espacio entre tabla y barra */
  margin-top: -15px; /* quitar espacio */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 15px;
}

#search-input {
  padding: 8px;
  border: 1px solid #e7e9f2;
  border-radius: 10px; /*más redondo */
  font-size: 16px;
  width: 50%;
  background-color: #e7e9f2;
}

/* Añadir Usuario y Ajustes */
#add-button {
  /* display: flex;
    justify-content: flex-end; */
  padding: 8px 40px;
  background-color: #0071b0;
  color: white;
  border: none;
  border-radius: 10px; /* más redondo */
  cursor: pointer;
  /* margin-left: 10px; */
  font-size: medium;
}

.button-container {
  display: flex;
  align-items: center; /* Añadido para alinear verticalmente */
}

.button-container a {
  margin-left: 30px; /* Añadido para separar el icono */
}

/* Tabla */

.tabla {
  display: flex;
  padding: 0px 2vw;
  align-items: center;
}

table {
  flex: auto;
  width: 100%;
  border-collapse: collapse; /* Separar los bordes de las celdas */
  border-spacing: 0; /* Eliminar el espacio entre las celdas */
  border: 2px solid #e7e9f2; /* Agrega un borde sólido a la tabla */
  margin-bottom: 30px;
}

th {
  background-color: #e7e9f2; /* Color de fondo para los encabezados */
  text-align: left; /* Alinea el texto de los encabezados a la izquierda */
}

th,
td {
  padding: 10px;
  text-align: left!important;
  border: none; /* Elimina el borde de las celdas */
}

.buttons-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.btn img {
  /* Iconos */
  height: 26px; /* Altura de imagenes */
  align-items: center; /* Alinea imagenes al centro */
}

#input-file {
  display: none; /* Oculta display de la función de subir archivo  */
}

/* Modal (Ventana "pop-up") para añadir usuarios */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Posición fija */
  z-index: 9999; /* Colocar el modal en la parte superior */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar scroll si el contenido excede el alto de la ventana */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-contenido {
  background-color: #fefefe;
  border-radius: 10px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /*Ancho del modal*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Botón para cerrar el modal */
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el formulario */
#nuevoUsuarioForm {
  display: flex;
  flex-direction: column;
}

#nuevoUsuarioForm label {
  margin-top: 10px;
  font-weight: bold;
}

#nuevoUsuarioForm input,
#nuevoUsuarioForm select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#nuevoUsuarioForm button {
  width: fit-content;
  align-self: center;
  margin-top: 20px;
  padding: 10 50;
  background-color: #0071b0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 1rem;
}

#nuevoUsuarioForm button:hover {
  background-color: #005d91;
}

/* Estilos para el nombre y apellido */
.nombre-apellido {
  display: flex;
  gap: 20px;
}

.campo {
  flex: 1;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Estilos para Rol y Departamento */
.rol-departamento {
  display: flex;
  gap: 20px;
}

.campo {
  flex: 1;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* BLoqueo de celdas en el modal de edicion */
input[readonly], select[readonly] {
  background-color: #f4f4f4;
  cursor: not-allowed;
}

.high-z-index {
  z-index: 9999 !important;
}

/* Media queries para hacer el diseño responsivo */
@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92%;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  .modal-contenido {
    width: 55%; 
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    width: 92%;
    margin-left: 6vw;
  }
  .modal-contenido {
    width: 60%; 
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    width: 91%;
    margin-left: 7vw;
    font-size: smaller;
  }
  .modal-contenido {
    width: 65%; 
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 90%;
    margin-left: 8vw;
    margin-bottom: 2vh;
    font-size: smaller;
  }
  .modal-contenido {
    width: 70%; 
  }
  table td:nth-child(1), 
  table td:nth-child(4), 
  table th:nth-child(1), 
  table th:nth-child(4) { 
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    width: 96%;
    height: 91vh; /* Mantener altura fija */
    margin-left: 2vw;
    font-size: smaller;
  }
  .modal-contenido {
    width: 80%; 
  }
  table td:nth-child(1), 
  table td:nth-child(4), 
  table td:nth-child(5), 
  table th:nth-child(1), 
  table th:nth-child(4),
  table th:nth-child(5) { 
    display: none;
  }
  #add-button,
  #search-input {
    padding: 10 20;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .nombre-apellido,
  .rol-departamento {
    flex-direction: column;
  }
  th,
  td {
  font-size: 0.8rem;
  }
  .tabla {
    padding: 0;
  }
}
