/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  width: 92vw;
  height: 90vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.encabezado h3 {
  margin: 0;
}

.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

/* Barra de Busqueda */
.busqueda {
  padding: 0px 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* espacio entre tabla y barra */
  margin-top: -15px; /* quitar espacio */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 15px;
}

#search-input {
  padding: 8px;
  border: 1px solid #e7e9f2;
  border-radius: 10px; /*más redondo */
  font-size: 16px;
  width: 50%;
  background-color: #e7e9f2;
}

/* Añadir Usuario y Ajustes */
#add-button {
  /* display: flex;
    justify-content: flex-end; */
  padding: 8px 40px;
  background-color: #0071b0;
  color: white;
  border: none;
  border-radius: 10px; /* más redondo */
  cursor: pointer;
  /* margin-left: 10px; */
  font-size: medium;
}

.button-container {
  display: flex;
  align-items: center; /* Añadido para alinear verticalmente */
}

.button-container a {
  margin-left: 30px; /* Añadido para separar el icono */
}

/* Tabla */

.tabla {
  display: flex;
  padding: 0px 2vw;
  align-items: center;
}

table {
  flex: auto;
  width: 100%;
  border-collapse: collapse; /* Separar los bordes de las celdas */
  border-spacing: 0; /* Eliminar el espacio entre las celdas */
  border: 2px solid #e7e9f2; /* Agrega un borde sólido a la tabla */
  margin-bottom: 30px;
}

th {
  background-color: #e7e9f2; /* Color de fondo para los encabezados */
  text-align: left; /* Alinea el texto de los encabezados a la izquierda */
}

th,
td {
  padding: 10px;
  text-align: left;
  border: none; /* Elimina el borde de las celdas */
}

.btn img {
  /* Iconos */
  height: 26px; /* Altura de imagenes */
  align-items: center; /* Alinea imagenes al centro */
}

#input-file {
  display: none; /* Oculta display de la función de subir archivo  */
}

/* Modal (Ventana "pop-up") para añadir usuarios */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Colocar el modal en la parte superior */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar scroll si el contenido excede el alto de la ventana */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-contenido {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 5% auto; /*15% desde la parte superior y centrado horizontalmente*/
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /*Ancho del modal*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Botón para cerrar el modal */
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el formulario */
#nuevoUsuarioForm {
  display: flex;
  flex-direction: column;
}

#nuevoUsuarioForm label {
  margin-top: 10px;
  font-weight: bold;
}

#nuevoUsuarioForm input,
#nuevoUsuarioForm select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#nuevoUsuarioForm button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0071b0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#nuevoUsuarioForm button:hover {
  background-color: #005d91;
}

/* Estilos para el nombre y apellido */
.nombre-apellido {
  display: flex;
  gap: 20px;
}

.campo {
  flex: 1;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Estilos para Rol y Departamento */
.rol-departamento {
  display: flex;
  gap: 20px;
}

.campo {
  flex: 1;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Media queries para hacer el diseño responsivo */
@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    width: 92vw;
    margin-left: 6vw;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    width: 91vw;
    margin-left: 7vw;
    font-size: smaller;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 90vw;
    margin-left: 8vw;
    margin-bottom: 2vh;
    font-size: smaller;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    width: 95vw;
    height: 91vh; /* Mantener altura fija */
    margin-left: 2.5vw;
    font-size: smaller;
  }
}
