.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  width: 92vw;
  height: 90vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 20px 0px;
  /* border: solid; */
}

.encabezado-izquierda,
.encabezado-centro,
.encabezado-derecha {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encabezado-centro {
  color: #fff;
  margin-top: -10px;
  padding: 13px 10px;
  background-color: #0071b0;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
}

.encabezado-izquierda{
  /* border: solid; */
  align-items: start;
  justify-content: left;
  margin-left: 20px;
}

.encabezado h3 {
  margin: 0;
  /* padding: -30px -300px; */
  margin-top: 10px;
}

.encabezado-derecha {
  /* border: solid; */
  justify-content: right; /* Asegura que los iconos estén centrados */
  margin-top: 10px;
  margin-right: 25px;
} 

/* Tabla */
.tabla {
  flex-grow: 1; /* Permite que la tabla ocupe todo el espacio restante */
  overflow-y: auto; /* Añadir scroll vertical */
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  position: relative; /* Para controlar el contenido interno */
  margin-top: -5px;
  overflow-x: auto; /* Permite desplazamiento horizontal */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 3px solid #e7e9f2;
}

th {
  margin-top: -50px;
  color: black;
  border-bottom: 3px solid #0071b0;
  position: sticky; /* Hacer que el encabezado sea fijo */
  top: -20px; /* Posición fija en la parte superior */
  background-color: white; /* Fondo blanco para que el encabezado sea legible */
  z-index: 1; /* Asegurar que el encabezado esté por encima de las filas */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Ajusta este valor según tus necesidades */
}

/* Icono y Boton Buscar */

.iconos-container {
  width: 60%;
  display: flex;
  align-items: left;
  /* border: solid; */
  justify-content: space-between;
  padding: 0px 40px;
}

#icono-deshacer {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  background-color: #FFD951;
  padding: 15px;
  color: #fff;
  margin-right: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: visibility 0.2s, opacity 0.2s;
  -webkit-transition: visibility 0.2s, opacity 0.2s;
  -moz-transition: visibility 0.2s, opacity 0.2s;
  -ms-transition: visibility 0.2s, opacity 0.2s;
  -o-transition: visibility 0.2s, opacity 0.2s;
}

#icono-deshacer i {
  font-size: 18px;
}

#icono-guardar {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  background-color: #57B661;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  margin-right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: visibility 0.2s, opacity 0.2s;
  -webkit-transition: visibility 0.2s, opacity 0.2s;
  -moz-transition: visibility 0.2s, opacity 0.2s;
  -ms-transition: visibility 0.2s, opacity 0.2s;
  -o-transition: visibility 0.2s, opacity 0.2s;
}

.icono-buscador {
  cursor: pointer;
  background-color: #0071b0;
  padding: 15px;
  border-radius: 10px 10px; /* Redondea solo las esquinas izquierdas */
  color: #fff;
  margin-right: 0; /* Quita el margen derecho */
  /* z-index: 1; */
}

.icono-buscador i {
  font-size: 18px;
}

/* Asegúrate de que todos los iconos tengan el mismo tamaño */
.iconos-container {
  display: flex;
  align-items: center;
}

/* Ajustar el espacio entre los iconos */
.iconos-container > div {
  margin-right: 10px;
}

.iconos-container > div:last-child {
  margin-right: 0;
}

.barra-buscador {
  display: flex;
  align-items: center;
  width: 95%; /* Ocupa el 70% del div contenedor */
  border: none; /* Quita el borde azul */
  margin-top: 10px;
}

#input-buscador {
  flex-grow: 1;
  margin-left: -4px;
  padding: 12.5px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #f0f0f0;
  outline: 1px solid transparent; /* Inicialmente transparente */
}

#input-buscador:focus {
  outline: 2px solid #0071b0; /* Cambia al color deseado cuando tiene foco */
}

#input-buscador:focus {
  outline: 2px solid rgb(0, 114, 176); /* #0071b0 con 50% de opacidad */
}

/* Estilos para nuevos formularios */
#formulario-añadir {
  width: 100%;
  box-sizing: border-box;
  padding-left: 50px;
  display: flex;
  justify-content: space-evenly;
}

#form-añadir-registro {
  display: grid;
  align-items: center;
}

#formulario-añadir button {
  padding: 5px;
  margin: 10px 10px 0px 10px;
  border: none;
  background-color: #0071b0;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#formulario-añadir input {
  width: 90%;
  box-sizing: border-box;
  border-radius: 4px;
  border: #5d5d5d solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.input-formulario {
  width: 90%;
  padding: 5px;
  margin-right: 10px;
  box-sizing: border-box;
}

/* css pop up de columnas de descarga excel */

.popup-active {
  overflow: hidden;
}

.popup-active::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popup-columnas {
  display:none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border: 1px solid black;
}

#popup-columnas h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.select-all-div {
  margin-bottom: 15px;
  font-weight: bold;
}

.columns-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#popup-columnas button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0071b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#popup-columnas button:hover {
  background-color: #005a8c;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 1000px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
}

.modal input, .modal select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 1000px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  gap: 20px;
}

.form-section {
  flex: 1;
}

.form-section h3 {
  margin-bottom: 15px;
  color: #0071b0;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.full-width {
  width: 100% !important;
}

.weekdays {
  justify-content: space-between;
}

.weekdays input {
  width: 30px;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 7.5px;
  cursor: pointer;
}

.form-actions button:first-child {
  background-color: #0071b0;
  color: white;
  font-weight: bold;
}

.form-actions button:last-child {
  background-color: #fff;
  color: #0071b0;
  border: #0071b0 solid 2px;
  font-weight: bold;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-estrecho {
  width: 80px; /* Ajusta este valor según sea necesario */
  /* box-sizing: border-box; */
  padding: 5px; /* Opcional: ajustar el padding según sea necesario */
  border: none;
}

/* CSS contenido del modal de profesores */

.contenedor {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: collapse;
}

.left-column {
  flex: 0 0 350px;
}

.left-column, .right-column {
  padding: 30px;
  vertical-align: top;
}

.right-column {
  background-color: white; /* fondo */
  padding: 50px;
  flex: 1;
}

.profesor-container {
  display: flex;
  gap: 20px;
}

.profesor-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profesor-avatar {
  width: 60px;
  height: 60px;
  background-color: #7D43C6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar-initials {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.profesor-details h2 {
  margin: 0;
  font-size: 18px;
}

.profesor-details p {
  margin: 5px 0 0;
  color: #666;
}

.profesor-data {
  margin-left: 70px;
  width: 100%;
  border-collapse: collapse;
}

.profesor-data th {
  border: none;
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
}

.profesor-data td { 
  border: none;
  padding: 5px 10px;
}

.data-value2 {
  color: #8B6E3B;
  background-color: #FDF8E4;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.data-value3 {
  color: #164D64;
  background-color: #67CBE9;
  padding: 2px 4px; 
  border-radius: 4px;
  display: inline-block; /* solo subraya el texto */
  font-weight: bold;
}

.class-info {
  background-color: #F4F5F9; /* Cuadro */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

.class-info h3 {
  margin-top: 0;
  font-size: 16px;
}

.class-details {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.class-details th, .class-details td {
  border: none;
  padding: 5px;
  text-align: center;
  background-color: transparent;
}

.class-details th {
  font-weight: bold;
}

.class-details td {
  vertical-align: middle;
  padding: 10px 5px;
}

.horario-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre el horario y los días */
}

.horario-tiempo {
  white-space: nowrap; 
}

.weekdays {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.day {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #B0B0B0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.day.active {
  background-color: #4a90e2;
  color: white;
}

/* Media Queries para diferentes resoluciones */
@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    width: 92vw;
    margin-left: 6vw;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    width: 91vw;
    margin-left: 7vw;
    font-size: smaller;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 93vw;
    height: fit-content;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: smaller;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    width: 93vw;
    height: 91vh; /* Mantener altura fija */
    margin-left: 2vw;
    font-size: smaller;
  }

  .encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .encabezado h2 {
    margin: 0;
    font-size: medium;
  }

  /* Tabla */

  .tabla {
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: smaller;
  }

  th {
    color: black;
    border-bottom: solid #0071b0;
    position: sticky; /* Hacer que el encabezado sea fijo */
    top: 0; /* Posición fija en la parte superior */
    background-color: white; /* Fondo blanco para que el encabezado sea legible */
    z-index: 1; /* Asegurar que el encabezado esté por encima de las filas */
  }
}

/* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 600px;
        margin: 0 auto;
    }





    /*------------------------------------------------*/
    .search-bar {
      margin-bottom: 20px;
  }
  
  .search-input-container {
      position: relative;
      width: 100%;
      max-width: 400px;
  }
  
  .search-input-container i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #666;
  }
  
  #buscar-profesor {
      width: 100%;
      padding: 8px 8px 8px 35px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
  }
  
  .tabla-profesores {
      margin-top: 20px;
  }
  
  .btn-detalle {
      background-color: #0071b0;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
  }
  
  .btn-detalle:hover {
      background-color: #005a8c;
  }
  
  /* Estilos para el detalle del profesor */
  .detalle-profesor {
      padding: 20px;
  }
  
  .info-general {
      background-color: #f5f5f5;
      padding: 15px;
      border-radius: 4px;
      margin: 15px 0;
  }
  
  .tabla-materias {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
  }
  
  .tabla-materias th,
  .tabla-materias td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
  }
  
  .tabla-materias th {
      background-color: #0071b0;
      color: white;
  }
  
  .tabla-materias tr:nth-child(even) {
      background-color: #f9f9f9;
  }
  
  .close {
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
  }
  
  .close:hover {
      color: #0071b0;
  }