/* CSS del cuadro principal */

.cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.encabezado h3 {
    margin: 0;
}

.titulo-bd {
    color: #fff;
    width: 30vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background-color: #0071b0;
}

/* Cuadro de actividades y eventos */  
.calendar-container {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
    margin-left: 40px;
}

.left-column {
    width: 30%;
    padding-right: 20px; 
    border-color: #0071B0;
    overflow-y: auto;
}

.right-column {
    width: 80%;
    padding-left: 10px;
}

.header-calendar {
    background-color: white;
    color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: #0071B0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hoy {
    text-align: center;
    color: white;
    background-color: #0071b0;
    border: 2px solid #0071B0;
    border-radius: 10px 10px 0 0;
}

.countdown {
    text-align: center;
    padding: 0 10px;
    margin: 0;
}

.timer-label {
    font-size: medium;
    color: black; 
}

.timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.timer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-box {
    background-color: #E7E9F2;
    color: black;
    font-size: x-large;
    font-display: bold;
    padding: 12px 12px;
    min-width: 40px;
    text-align: center;
    margin-bottom: 5px;
}

.activities {
    padding: 0 18px;
    margin: 0;
}

.events {
    padding: 0 18px;
    margin: 0;
    margin-bottom: 10px;
}

.activity, .event {
    margin-bottom: 10px;
    padding: 5px;
    border-left: 4px solid;
}

.activity {
    border-color: #FFC700;
}

.activity:last-child {
    border-color: #49B053;
}

.event {
    display: flex;
    padding: 0 0 0 0;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    gap: 10px;
    text-align: justify;
}

.event-time {
    background-color: #E7E9F2;
    color: black;
    padding: 0px 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

.event-description {
    background-color: #E7E9F2;
    padding: 5px 10px;
    flex-grow: 1;
    align-items: center;
    line-height: 2;
}

/* Barra de la fecha */
.date-bar {
    background-color: #0071B0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-right: 38px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

.date-selector {
    display: flex;
    align-items: center;
}

.month-year {
    font-size: 1.2em;
    margin-right: 10px;
}

.arrow-buttons {
    display: flex;
}

.arrow {
    background: none;
    border: none;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    padding: 0 5px;
}

.view-options {
    display: flex;
}

.view-options button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 5px;
}

/* Calendario */ 
.calendar-table {
    width: 96.3%;
    border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
    border: 1px solid #E7E9F2;
    text-align: center;
    font-size: medium;
    width: 85px;
    height: 85px;
    position: relative;
    padding: 0;
}

.calendar-table th {
    background-color: white;
    color: black;
    font-size: x-large;
    font-style: bold;
}

.calendar-table td:hover {
    background-color: #f5f5f5;
}

/*
.calendar-table td.highlighted-day {
    background-color: #0071B0;
    color: white;
    border-radius: 200%;
    -webkit-border-radius: 200%;
    -moz-border-radius: 200%;
    -ms-border-radius: 200%;
    -o-border-radius: 200%;
} */

.calendar-table td.day-with-event {
    position: relative;
}

.date-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: large;
    font-style: bold;
}

.events-container {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-indicator {
    font-size: 8px;
    padding: 1px 2px;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    width: 100%;
}

.calendar-table td .event-indicator.yellow {
    background-color: #FFC700;
    color: white;
    font-size: medium;
    text-align: left;
}

.calendar-table td .event-indicator.green {
    background-color: #49B053;
    color: white;
    font-size: medium;
    text-align: left;
}

.event-indicator.lightblue {
    background-color: #C7D6FE;
    color: black;
    font-size: medium;
    text-align: left;
}

.calendar-table td.multiple-events .events-container {
    display: flex;
    flex-direction: column;
}

.calendar-table td.multiple-events .event-indicator:nth-child(2) {
    margin-top: 1px;
}

.calendar-table td.multiple-events {
    font-size: smaller;
}

@media (max-width: 768px) {
    .calendar-container {
        flex-direction: column;
    }
    
    .left-column, .right-column {
        width: 100%;
    }
    
    .left-column {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .timer {
        flex-wrap: wrap;
    }
    
    .timer-item {
        flex-basis: 50%;
    }
    
    .calendar-table th, .calendar-table td {
        padding: 5px;
        font-size: smaller;
    }
}