/* CSS del cuadro principal */

.cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    overflow: hidden; /* Para que el contenido adicional no desborde */
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
    
    /* Encabezado */
  .encabezado {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .encabezado h3 {
      margin: 0;
    }
    
    .titulo-bd {
      color: #fff;
      width: 30vw;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0px 0px 20px 20px;
      background-color: #0071b0;
    }

    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
  }
  
  h1 {
      color: #333;
  }
  
  #event-description {
      width: 400px;
      height: 200px;
      padding: 50px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
      margin: 0 auto;
      display: block;
  }