/* CSS del cuadro principal */

.cuadro-principal {
  /*border: solid black 1px;*/
  background-color: white;
  width: 92%;
  height: 90vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  align-self: flex-end;
  overflow: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.encabezado h3 {
  margin: 0;
}

.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

/* Tabla */

.tabla {
  display: flex;
  padding: 8px 2vw;
  align-items: center;
}

table {
  flex: auto;
  width: 100%;
  border-collapse: collapse; /* Separar los bordes de las celdas */
  border-spacing: 0; /* Eliminar el espacio entre las celdas */
}

th {
  background-color: #e7e9f2; /* Color de fondo para los encabezados */
  text-align: left; /* Alinea el texto de los encabezados a la izquierda */
  padding: 10px;
}

td {
  padding: 7px;
  text-align: left;
  border: 2px solid #e7e9f2;
}

.btn img {
  /* Iconos */
  height: 30px; /* Altura de imagenes */
  align-items: center; /* Alinea imagenes al centro */
}

.btn-ir {
  display: inline-block;
  background-color: #0071b0;
  color: #fff;
  padding: 3px 17px;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-ir:hover {
  transform: scale(1.10) !important;
  background-color: #007cbf;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
}

.estado-entregada,
.estado-atrasada,
.estado-pendiente {
  display: inline;
  padding: 3px 20px;
  border-radius: 7.5px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
}

/* Mantén los estilos de color existentes */
.estado-entregada {
  background-color: #dff1d8;
  color: #3b763d;
}

.estado-atrasada {
  background-color: #f9d1d3;
  color: #953d42;
}

.estado-pendiente {
  background-color: #fdf8e4;
  color: #8b6e3b;
}

td:nth-child(2) {
  text-align: center;
}

/* Estilos de la barra de progreso */
.progress-container {
  background-color: #e0e0e0; /* Color gris claro para el fondo*/
  border-radius: 30px; /* Radio de borde curvo */
  overflow: hidden; /* Evita que la barra de progreso se desborde */
  width: 80%; /* Ajusta el ancho de la barra de progreso */
  height: 20px; /* Aumentar la altura de la barra de progreso */
  margin: 10px auto; /* Añadir más espacio superior e inferior y centrar horizontalmente */
  box-sizing: border-box; /* Incluye el padding dentro del ancho y alto total */
}

.progress-bar {
  width: 0%;
  height: 100%; /* Asegurarse de que ocupe toda la altura del contenedor */
  background-color: #0071b0;
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
  position: relative;
  background: linear-gradient(to right, #0071b0, #0092e0, #0071b0);
  background-size: 200% 100%;
  animation: progress-bar-animation 2s linear infinite;
}

.progress-bar::after {
  content: attr(data-progress) "%"; /* Muestra el valor del atributo data-progress seguido de "%" */
  position: absolute; /* Posiciona el texto en relación a .progress-bar */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 14px; /* Tamaño de fuente */
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px 20px 0px;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #0071b0;
  border: none;
  color: white;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-guardar {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #0071b0;
  border: none;
  color: white;
  margin-left: 50px;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.fechalimite {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 5px 0px;
}

/* Estilo para centrar el encabezado */
.centrado {
  text-align: center;
  margin: 10px;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #B3D3EB;
  color: #0071B0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.2s ease-in-out;
}

.close:hover,
.close:focus {
  background-color: #0071b0!important;
  color: #ffffff;
  transform: rotate(180deg) scale(1.2);
}

button.swal2-confirm.swal2-styled { background-color: #0071B0; }
button.swal2-confirm.swal2-styled:hover { background-color: #00659b; }

@keyframes progress-bar-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes progress-bar-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Media Queries para diferentes resoluciones */
@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92%;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  td,
  th {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    width: 92%;
    margin-left: 6vw;
  }
  td,
  th {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    width: 91%;
    margin-left: 7vw;
    font-size: smaller;
  }
  td,
  th {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 90%;
    margin-left: 8vw;
    margin-bottom: 2vh;
    font-size: smaller;
  }
  td,
  th {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    width: 96%;
    height: 91vh; /* Mantener altura fija */
    margin-left: 2vw;
    font-size: smaller;
  }

  .titulo-bd {
    color: #fff;
    width: 50vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background-color: #0071b0;
  }

  .progress-bar::after {
    font-size: 10px; /* Tamaño de fuente */
  }

  .tabla {
    padding: 10px 20px;
  }

  td,
  th {
    font-size: 0.8rem;
  }

  .estado-atrasada,
  .estado-entregada,
  .estado-pendiente {
    padding: 5px;
  }

  .form-actions .btn {
    padding-top: 10px;
    font-size: 0.9rem;
  }

  .btn-ir {
    font-size: smaller;
  }
}

@media screen and (max-width: 580px) {
  #fechaLimiteForm .btn-guardar {
    position: relative;
    margin: 15 auto;
    align-items: center;
    justify-content: center;
  }
}