/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  width: 92vw;
  height: 88vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  align-self: flex-end;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.encabezado h3 {
  margin: 0;
}

.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}


/* Pestaña subir plantilla */
/* .header-bar {
  background-color: #0071b0;
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 12px;
  max-width: 550px;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
} */


/* Tabla */

.tabla {
  display: flex;
  padding: 20px 2vw;
  align-items: center;
}

table {
  flex: auto;
  width: 100%;
  border-collapse: collapse; /* Separar los bordes de las celdas */
  border-spacing: 0; /* Eliminar el espacio entre las celdas */
}

th {
  background-color: #e7e9f2; /* Color de fondo para los encabezados */
  text-align: left; /* Alinea el texto de los encabezados a la izquierda */
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 2px solid #e7e9f2;
}

.btn img {
  /* Iconos */
  height: 30px; /* Altura de imagenes */
  align-items: center; /* Alinea imagenes al centro */
}

.btn img {
  /* Iconos */
  height: 30px; /* Altura de imagenes */
  align-items: center; /* Alinea imagenes al centro */
}

.entregada {
  color: #3b763d;
  font-weight: bold;
  text-align: center;
  background-color: #dff1d8;
  padding: 2px 3px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.atrasada {
  color: #953d42; /* Color rojo */
  font-weight: bold; /* Texto en negrita */
  text-align: center;
  background-color: #f9d1d3;
  padding: 2px 3px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.sin-entregar {
  color: #8b6e3b; /* Color amarillo */
  font-weight: bold; /* Texto en negrita */
  text-align: center;
  background-color: #fdf8e4;
  padding: 2px 3px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

/* Media queries para hacer el diseño responsivo */

@media screen and (max-width: 1400px) {
  .cuadro-principal {
    width: 90vw;
    height: 89vh;
  }
}

@media screen and (max-width: 1100px) {
  .cuadro-principal {
    width: 88vw;
    height: 89vh;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    width: 95vw;
    height: 89vh;
    font-size: smaller;
  }
}

@media screen and (max-width: 576px) {
  .cuadro-principal {
    width: 96vw;
    height: 87vh;
    font-size: smaller;
  }
}
