/* CSS del cuadro principal */

.cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 120vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    align-self: flex-end;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Pestaña subir plantilla */
.header-bar {
    background-color: #0071B0; 
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 12px;
    max-width: 550px;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  /* Tabla */ 
table {
    margin: 3em auto 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 1400px; /* Tamaño máximo de la tabla */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

th { /* Celdas de encabezado de la tabla */
    background-color: #E7E9F2;
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
    text-align: left; /* Alinea el texto de los encabezados a la izquierda */
  }

  th, td { /* Celdas de encabezado y celdas de datos de la tabla */
    border: 2px solid #f2f2f2; /* Agrega bordes a las celdas */
    padding: 5px; /* Espacio de relleno dentro de las celdas */
  }