/* CSS del cuadro principal */

.cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.encabezado h3 {
    margin: 0;
}

.titulo-bd {
    color: #fff;
    width: 30vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background-color: #0071b0;
}

/* Aquí empieza el código de Espacios */

/* Estilos existentes */
.filtros {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Cambiado a flex-end para alinear todo en la parte inferior */
    margin-top: 25px;
    padding: 10px;
    flex-wrap: wrap;
}

.filtro {
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px 15px;
    min-width: 150px;
}

.filtro label {
    margin-bottom: 8px;
    font-size: 1.1em;
    color: black;
    text-align: center;
}

.filtro select, .filtro input {
    color: #0071b0;
    padding: 5px;
    background-color: #D9EDF6;
    border: 1px solid #D9EDF6;
    border-radius: 4px;
}

/* Nuevo estilo para el botón de filtrar */
#filtrar {
    padding: 5px;
    color: #ffffff;
    font-weight: 500;
    width: 100px;
    background-color: #0071b0;
    border: 1px solid #0071b0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#filtrar:hover {
    background-color: #005a8c;
}

/* Añadir un div vacío antes del botón para simular el label y alinear correctamente */
#filtrar-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px 15px;
    min-width: 150px;
}

#filtrar-container::before {
    content: '';
    height: 29px; /* Ajusta este valor para que coincida con la altura de tus labels */
}

/* Aquí empieza el código del Edificio */

.contenedor-principal {
    position: relative;
    /* display: flex; */
    width: 90%;
    margin: 20px auto;
    /* gap: 0; */
}

.techo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #7A7A7A;
    z-index: 2;
}

/* agregado nuevo */
.contenido-edificio {
    display: flex;
    padding-top: 10px; /* Espacio para el techo */
}

.columna-lateral { /* modificada */
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    position: relative;
    padding-top: 0; /* Cambiado de 10px a 0 */
    overflow: hidden;
}

.columna-lateral.izquierda {
    background: linear-gradient(to right, #ffffff 50%, #D9D9D9 50%);
    border-right: 1px solid #ccc;
}

.columna-lateral.derecha {
    background: linear-gradient(to left, #ffffff 50%, #D9D9D9 50%);
    border-left: 1px solid #ccc;
}

.letra-piso {
    width: 40%;
    height: 60px;
    background-color: #0071B0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    z-index: 2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
}

.columna-lateral.izquierda .letra-piso {
    left: 75%;
    transform: translateX(-50%);
}

.columna-lateral.derecha .letra-piso {
    right: 75%; 
    transform: translateX(50%);
}

.letra-piso span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.escaleras-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    top: 25px;
}

.escalera-superior,
.escalera-inferior {
    position: absolute;
    width: 100%;
    height: 33.33%; /* Aproximadamente un tercio de la altura total */
    background-color: #A0A0A0;
}

.escalera-superior {
    top: 33.33%; /* Posicionado al nivel del segundo piso */
}

.escalera-inferior {
    bottom: 0; /* Posicionado al nivel del primer piso */
}

.columna-lateral.izquierda .escalera-superior {
    clip-path: inset(20% 0 50% 0);
}

.columna-lateral.izquierda .escalera-inferior {
    clip-path: inset(20% 0 50% 0);
}

.columna-lateral.derecha .escalera-superior {
    clip-path: inset(20% 0 50% 0);
}

.columna-lateral.derecha .escalera-inferior {
    clip-path: inset(20% 0 50% 0);
}

/* .escalera-izquierda, .escalera-derecha {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    top: 40px;
    background-color: #A0A0A0;
}

.escalera-izquierda {
    right: 0;
    clip-path: inset(30% 0 60% 0);
}

.escalera-derecha {
    left: 0;
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
} */

.columna-lateral.izquierda {
    background: linear-gradient(to right, #ffffff 50%, #D9D9D9 50%);
}

.columna-lateral.derecha {
    background: linear-gradient(to left, #ffffff 50%, #D9D9D9 50%);
}

.cuadro-grande {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0; /**/
    margin: 0;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.piso {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 30px 30px 0 30px;
    
}

.barandal {
    position: absolute;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    height: 6px;
    background-color: #0071B0;
}

.piso:nth-child(2) .barandal {
    bottom: 20px; /* Ajusta para el segundo piso */
}

.piso:nth-child(3) .barandal {
    bottom: 402px; /* Ajusta para el tercer piso */
}

.piso:last-child {
    border-bottom: none;
}

.piso-gris {
    height: 30px; 
    background-color: #7A7A7A; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.numero-piso {
    font-weight: bold;
    margin-bottom: 10px;
}

.salas {
    display: flex;
    flex-direction:inherit;
    justify-content: space-around; /*sugerencia de Luis */
    position: relative;
    z-index: 0;
    padding-bottom: 20px;
    bottom: 10px
}

.sala-container {
    width: 80px;
    height: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 5px; /* Ajusta el espacio entre el texto y la sala */
    margin-bottom: -20px;
}

.sala-texto {
    font-size: 14px; /* Ajusta el tamaño del texto */
    color: black; /* Color del texto */
    text-align: center;
}

.sala {
    /* padding: 3px; */
    text-align: center;
    font-size: 12px;
    flex-grow: 1;
    min-width: 63px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border-radius: 7px 7px 0px 0px;
}

.sala img {
    width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 17px;
    margin-bottom: 60px;
    justify-content: center ;
}

.oficina-administrativa {
    background-color: #FFD875;
}

.oficina-administrativa img {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 25px;
}

.aula {
    background-color: #7BC7F1;
}

.aula img {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 25px;
}

.laboratorio {
    background-color: #72CEA2;
}

.laboratorio img {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 26px;
}

.bodega {
    background-color: #CC8E60;
}

.bodega img {
    width: 25px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 30px;
}

/* Estilos para la leyenda */
.leyenda {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 50px;
}

.leyenda-item {
    display: flex;
    align-items: center;
    font-size: large;
    min-width: 150px;
}

.cuadrito {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 15%;
}

.ocupado {
    background-color: red; /* o el color que prefieras para indicar que está ocupado */
}

.aula-ocupada { background-color: #84A5B8; }
.laboratorio-ocupado { background-color: #8AA598; }
.administrativo { background-color: #FFD875; }