/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  /* width: 92%; */
  height: 90%;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  align-self: flex-end;
  overflow-x: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container-banner-bienvenida {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  /* background: linear-gradient(to left, #0071b0 50%, #e7e9f2 100%); */
}

.bienvenida {
  width: 100%;
  height: 150px;
  display: inline-flexbox;
  padding-left: 60px; 
  margin: -20;
  color: #000000;
}

.bienvenida h2 {
  position: relative;
  font-size: 2.5rem;
}

.bienvenida p {
  position: relative;
  bottom: 50px;
  font-size: 1.1rem;
  font-style: italic;
}

/* Estilos accesos directos */
.accesodirecto-moviles {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 15px;
  position: relative;
}

.cuadro-acceso {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0071b0;
  padding: 10px;
  width: 70px;
  height: 70px;
  min-width: 7vw;
  margin: 0px 1vw 0px;
  border-radius: 10px;
  cursor: pointer;
}

#toggle-bd #jefes-bd { display: none; }
#toggle-bd #coord-bd { display: none; }

#toggle-bd {
  display: none;
  justify-content: center;
  gap: 15px;
  align-items: top;
  width: 80%;
  height: 60px;
}
#toggle-bd #jefes-bd,
#toggle-bd #coord-bd { 
  background-color: #0071b0;
  padding: 15px;
  border-radius: 7px;
  transition: 0.3s ease;
  color: #fff;
  font-weight: bold;
}
#toggle-bd #jefes-bd:hover,
#toggle-bd #coord-bd:hover {
  width: 85%;
  padding: 17px;
  background-color: #0081c7;
}

.cuadro-acceso a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cuadro-acceso span {
  font-weight: bold;
  color: #fff;
  margin-top: 5px;
  text-align: center;
}

.cuadro-acceso img {
  width: 30px;
}

/* Estilos del carrusel */
.banner {
  height: 395px;
  width: 58%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.carrusel {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.diapositiva {
  min-width: 100%;
  height: 100%;
}

.diapositiva img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.boton-carrusel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  opacity: 50%;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-carrusel:hover {
  background: rgba(0, 0, 0, 0.5);
}

#botonAnterior {
  left: 1px;
}

#botonSiguiente {
  right: 1px;
}

.contenedor-puntos {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.punto {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20%;
  cursor: pointer;
}

.punto.activo {
  background: white;
}

.cuadros-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 10px;
}

.cuadro-ind {
  position: relative;
  margin: 10px;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.cuadro-ind:hover {
  transform: scale(1.03);
  transition: transform 0.4s;
}

.cuadro-ind img {
  width: 100%;
  opacity: 70%;
  object-fit: cover;
  transition: transform 0.4s;
  transform-origin: center;
  object-fit: contain;
}

/* Efecto de zoom al pasar el mouse sobre el cuadro */
.cuadro-ind:hover img {
  transform: scale(1.2);
  transform-origin: center;
  object-fit: contain;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.cuadro-ind:hover .overlay {
  transform: scale(1.1);
  transition: transform 0.4s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
}

.cuadro-ind:hover .overlay h4 {
  font-size: 1.5rem;
  transition: ease-in-out 0.4s;
  transform-origin: center;
  object-fit: contain;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: grid; /* lo cambié de flex a grid */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.20);
  z-index:1;
}

.cuadro-ind:hover .overlay {
  transform: scale(1.2);
  transform-origin: center;
  object-fit: contain;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.overlay h4 {
  margin: 0;
  font-size: 1.2rem;
  color: white; /* Cambiar color a blanco */
  font-weight: bold; /* Hacer el texto en negrita */
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2); /* Efecto de sombreado */
}

.overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.4s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

/* Container principal */
.container-eventos-progreso {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Contenedor de eventos */
.eventos {
  border: solid 5px #e7e9f2;
  width: 10;
  flex: 1;
  height: 395px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.evento-item, .evento-icono, .evento-vacio {
  justify-content: center;
  align-items: center;
}
.evento-vacio { 
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold; 
}

/* Cabecera */
.siguienteseventos {
  background-color: #e7e9f2;
  padding: 8px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.siguienteseventos h3 {
  margin: 0;
}

/* Contenedor de eventos */
.eventos > div:not(.siguienteseventos) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Base styles for all event items */
.evento-item {
  display: inline-flex;
  flex-direction: row; /* Fuerza dirección horizontal */
  align-items: flex-start;
  padding: 5 15 5px;
}

.fondo-cuadro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9f2;
  border-radius: 7px;
  padding: 0 15 0px;
  height: 90%;
}

.eventos-1, .eventos-2, .eventos-3, .eventos-4 {
  height: auto;
}

.evento-icono {
  flex: 0 0 auto;
  display: inline-flex;
}

.cuadro-numero {
  background-color: rgb(161, 81, 121);
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.evento-detalle {
  flex: 1;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 15px;
  vertical-align: top; /* Alinea con la parte superior */
  min-width: 0; /* Permite que el texto se ajuste */
}

.cuadro-numero {
  display: inline-flex;
  flex-direction: row;
  width: 50%;
}

.evento-titulo {
  width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: bold;
}

.evento-descripcion {
  margin: 5px 0;
  width: 20vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Estilos del texto del tooltip */
.evento-info .evento-titulo .tooltip-text, 
.evento-info .evento-descripcion .tooltip-text {
    visibility: hidden; /* Oculto por defecto */
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%; /* Ubicado arriba del elemento */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
    white-space: nowrap;
}

/* Flecha del tooltip */
.evento-info .evento-titulo .tooltip-text::after, 
.evento-info .evento-descripcion .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Muestra el tooltip al hacer hover */
.evento-info .evento-titulo:hover .tooltip-text,
.evento-info .evento-descripcion:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Separador común */
.eventos hr {
  border: none;
  border-top: 2px solid #e7e9f2;
  margin: 0;
  width: 100%;
  align-self: center;
}

/* Estilos específicos para 1 evento */
.eventos-1 {
  flex: 1;
}

.eventos-1 .cuadro-numero {
  width: 90px;
  height: 90px;
}

.eventos-1 .cuadro-numero span {
  font-size: 2.5rem;
}

.eventos-1 .evento-titulo {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5 0 5px;
}

.eventos-1 .evento-descripcion {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.eventos-1 .evento-info {
  margin-top: 10px;
  font-size: 1rem;
}

/* Estilos específicos para 2 eventos */
.eventos-2 .cuadro-numero {
  width: 70px;
  height: 70px;
}

.eventos-2 .cuadro-numero span {
  font-size: 1.7rem;
}

.eventos-2 .evento-titulo {
  width: 27vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.eventos-2 .evento-descripcion {
  width: 27vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.eventos-2 .evento-info {
  font-size: 1rem;
}

/* Estilos específicos para 3 eventos */
.eventos-3 .cuadro-numero {
  width: 60px;
  height: 60px;
}

.eventos-3 .cuadro-numero span {
  font-size: 1.7rem;
}

.eventos-3 .evento-titulo {
  width: 27vw;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventos-3 .evento-descripcion {
  width: 27vw;
  font-size: 0.9rem;
  margin-top: 2;
  margin-bottom: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventos-3 .evento-fecha {
  margin: 0;
}

/* Estilos específicos para 4 eventos */
.eventos-4 .cuadro-numero {
  width: 55px;
  height: 55px;
}

.eventos-4 .cuadro-numero span {
  font-size: 1.6rem;
}

.eventos-4 .evento-titulo {
  font-size: 0.95rem;
  width: 27vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

/* Estilos comunes para información del evento */
.evento-info p {
  margin: 5px 0;
}

.evento-fecha {
  font-size: 0.9rem;
  margin: 2px 0;
}

.evento-categoria {
  font-size: 0.9rem;
  margin: 2px 0;
}

/* Hover state */
.evento-item:hover {
  background-color: rgba(231, 233, 242, 0.3);
}

/* Media queries para hacer el diseño responsivo */

@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    /* width: 92%; */
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .container-eventos-progreso {
    justify-content: center;
    align-items: center;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-bottom: 20px; */
  }

  .cuadros-nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .cuadro-ind {
    width: 10%;
    margin: 10px 10px;
  }

  .cuadro-ind img {
    height: auto;
    max-width: 300px;
  }

  .progreso span {
    font-size: medium;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    /* width: 92%; */
    margin-left: 6vw;
  }

  .container-eventos-progreso {
    justify-content: center;
    align-items: center;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-left: 10px; */
  }

  .progreso span {
    font-size: medium;
  }

  .cuadro-ind {
    width: 15%;
    margin: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #filtrar-container #button {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .cuadro-principal {
    flex-direction: column;
    /* width: 91%; */
    margin-left: 7vw;
    font-size: smaller;
  }

  .container-eventos-progreso {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .banner, .eventos {
    width: 90%;
  }

  .eventos {
    min-height: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .evento-item {
    padding: 15 15 15px;
  }

  .eventos-1 .evento-titulo,
  .eventos-2 .evento-titulo,
  .eventos-3 .evento-titulo,
  .eventos-4 .evento-titulo {
    width: 70vw;
  }

  .eventos-1 .evento-descripcion,
  .eventos-2 .evento-descripcion,
  .eventos-3 .evento-descripcion,
  .eventos-4 .evento-descripcion {
    width: 70vw;
  }

  .banner {
    height: 300px;
  }

  .progreso span {
    font-size: medium;
  }

  .cuadro-ind {
    width: 30%;
    margin: 10px;
  }

  .cuadro-ind img {
    height: auto;
    max-width: 100%;
  }

  .overlay:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
  }

  .cuadro-ind:hover .overlay h4 {
    font-size: small;
    transition: ease-in-out 0.4s;
    transform-origin: center;
    object-fit: contain;
  }

  /* Nuevo home
  .container-eventos-progreso,
  .container-banner-bienvenida,
  .eventos,
  .banner,
  .bienvenida {
    width: 89vw;
  } */
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 90%;
    margin-left: 8vw;
    margin-bottom: 2vh;
    font-size: smaller;
  }

  .container-eventos-progreso {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .banner, .eventos {
    width: 90%;
  }

  .eventos {
    min-height: 300px;
  }

  .eventos {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .evento-item {
    padding: 15 15 15px;
  }

  .eventos-1 .evento-titulo,
  .eventos-2 .evento-titulo,
  .eventos-3 .evento-titulo,
  .eventos-4 .evento-titulo {
    width: 65vw;
  }

  .eventos-1 .evento-descripcion,
  .eventos-2 .evento-descripcion,
  .eventos-3 .evento-descripcion,
  .eventos-4 .evento-descripcion {
    width: 65vw;
  }

  .banner {
    height: 300px;
  }

  .progreso span {
    font-size: medium;
  }

  .cuadro-ind {
    width: 25%;
    margin: 10px;
    font-size: smaller;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: small;
  }

  .overlay:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.4s;
  }

  .cuadro-ind:hover .overlay h4 {
    font-size: small;
    transition: ease-in-out 0.4s;
    transform-origin: center;
    object-fit: contain;
  }

  .cuadro-nav div {  
    gap: 0;
    justify-content: center;
  }
  .cuadro-ind img { height: 130px; width: 300px; }
  .overlay h4 { font-size: 0.9rem; }
}

@media screen and (max-width: 769px) {
  .cuadro-principal {
    /* width: 96%; */
    margin-left: 2vw;
    font-size: smaller;
  }

  .bienvenida {
    font-size: small;
    padding: 10px;
    margin-left: 30px;
  }

  .container-eventos-progreso {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .banner, .eventos {
    width: 90%;
  }

  .eventos {
    min-height: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .evento-item {
    padding: 15 15 15px;
  }

  .eventos-1 .evento-titulo,
  .eventos-2 .evento-titulo,
  .eventos-3 .evento-titulo,
  .eventos-4 .evento-titulo {
    width: 65vw;
  }

  .eventos-1 .evento-descripcion,
  .eventos-2 .evento-descripcion,
  .eventos-3 .evento-descripcion,
  .eventos-4 .evento-descripcion {
    width: 65vw;
  }

  .banner {
    height: 200px;
    margin-bottom: 15px;
  }

  .boton-carrusel {
    width: 30px;
  }

  .progreso span {
    font-size: medium;
    margin-bottom: 10px;
  }

  .cuadros-nav {
    display: none;
  }
  
  .cuadro-nav div {  
    gap: 0;
    justify-content: center;
  }
  .cuadro-ind img { height: 130px; width: 300px; }
  .overlay h4 { font-size: 0.9rem; }

  .accesodirecto-moviles {
    display: inline-flex;
  }

  .cuadro-acceso {
    transition: 0.3s ease;
  }
  .cuadro-acceso:hover {
    width: 80px;
    height: 80px;
    background-color: #0081c7;
  }
  .cuadro-toggle:hover {
    width: 80px;
    height: 80px;
    background-color: #0081c7;
  }
}

@media screen and (max-width: 640px) {
  .cuadro-principal {
    /* width: 96%; */
    margin-left: 2vw;
    font-size: smaller;
  }

  .bienvenida h2 {
    white-space: nowrap;
    margin-left: 0vw;
    font-size: 1.5rem;
    transform: translateY(100%);
  }

  .bienvenida p {
    white-space: nowrap;
    margin-left: 0vw;
    font-size: 0.9rem;
    transform: translateY(120%);
  }

  .cuadro-acceso {
    width: 50px;
    height: 50px;
  }

  .cuadro-acceso img {
    width: 20px;
  }

  .cuadro-acceso {
    transition: 0.3s ease;
  }
  .cuadro-acceso:hover {
    width: 60px;
    height: 60px;
    background-color: #0081c7;
  }
  .cuadro-toggle:hover {
    width: 60px;
    height: 60px;
    background-color: #0081c7;
  }

  .eventos-1 .evento-titulo,
  .eventos-2 .evento-titulo,
  .eventos-3 .evento-titulo,
  .eventos-4 .evento-titulo {
    width: 55vw;
  }

  .eventos-1 .evento-descripcion,
  .eventos-2 .evento-descripcion,
  .eventos-3 .evento-descripcion,
  .eventos-4 .evento-descripcion {
    width: 55vw;
  }

  .eventos-1 .cuadro-numero {
    width: 70px;
    height: 70px;
  }
  .eventos-2 .cuadro-numero {
    width: 60px;
    height: 60px;
  }
  .eventos-3 .cuadro-numero {
    width: 55px;
    height: 55px;
  }
  .eventos-4 .cuadro-numero {
    width: 50px;
    height: 50px;
  }
  .eventos-1 .cuadro-numero span {
    font-size: 2rem;
  }
  .eventos-2 .cuadro-numero span {
    font-size: 1.5rem;
  }
  .eventos-3 .cuadro-numero span {
    font-size: 1.4rem;
  }
  .eventos-4 .cuadro-numero span {
    font-size: 1.3rem;
  }
  .evento-vacio span {
    font-size: 1.3rem;
  }

  .evento-info .evento-titulo { font-size: 0.9rem; }
  .evento-info .evento-descripcion { font-size: 0.8rem; }
  .evento-info .evento-fecha { font-size: 0.8rem; }
  .evento-info p { font-size: 0.8rem; }
  .evento-detalle .evento-titulo { font-size: 0.9rem; }
  .evento-detalle .evento-fecha { font-size: 0.8rem; }
}
