/* CSS del cuadro principal */

.cuadro-principal {
    /*border: solid black 1px;*/
    background-color: white;
    width: 92vw;
    height: 88vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    align-self: flex-end;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 10vh; */
    border-radius: 20px 20px 0px 0px;
    background-color: #0071B0;
    color: #fff;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.cuadros-nav {
    display: flex;
    flex-direction: row; /* Ajusta las cajas de manera horizontal */
    justify-content: space-between;
    margin: 20px 10px;
}

.cuadro-ind {
    position: relative;
    margin: 10px;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    align-items: center; 
    border: 2px solid black;
}

.cuadro-ind img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: transform 0.3s; /* Transición para el efecto de zoom */
    transform-origin: center; /* Establece el origen de la transformación en el centro */
    object-fit: contain;
    border: 2px solid black;
}

/* Efecto de zoom al pasar el mouse sobre el cuadro */
.cuadro-ind:hover img {
    transform: scale(1.2);
    transform-origin: center;
    object-fit: contain;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.cuadro-ind:hover .overlay h4 {
    font-size: 18px;
    transition: ease-in-out 0.4s;
    transform-origin: center; /* Establece el origen de la transformación en el centro */
    object-fit: contain;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.5);
    z-index: 1;
}

.overlay:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.overlay h4 {
    margin: 0;
    color: white; /* Cambiar color a blanco */
    font-weight: bold; /* Hacer el texto en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombreado */
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

/* Contenedor de Progreso y Siguientes Eventos */
.container-eventos-progreso {
    display: flex;
    margin: 10px;
    padding: 10px;
    /* height: auto; */
    justify-content: space-between; /* Centra los divs horizontalmente */
    align-items: stretch; /* Ajusta la altura de los hijos para que ocupen toda la altura del contenedor */
    align-content: center;
    flex-wrap: wrap;
}

/* CSS Progreso de PA */

.eventos {
    border: solid 5px #E7E9F2;
    flex: 1;
    width: 45%;
    /* height: auto; */
    margin-right: 1vw;
    border-radius: 10px;
}

.eventos hr {
    border: none;
    border-top: 5px solid #E7E9F2;
    width: 100%;
}
.evento-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.evento-icono {
    width: auto;
    margin-right: 10px;
}

.evento-detalle {
    flex-grow: 1;
}

.evento-detalle span {
    font-weight: bold;
    font-size: 16px;
}

.evento-detalle p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.evento-flecha img {
    width: 80%;
    /* height: 20px; */
}

.siguienteseventos {
    background-color: #E7E9F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

.progreso {
    display: flex;
    width: 45%;
    flex: 1;
    border: solid 5px #E7E9F2;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

.progresoPA {
    background-color: #E7E9F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
}

.progresoContenido {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    padding: 10px;
}

.progress-container {
    display: flex; /* Alinea los elementos hijos horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ancho del 70% del contenedor */
}

.progress-container progress {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.progress-container span {
    /* border: solid 1px; */
    margin-left: 10px; /* Margen entre la barra de progreso y el texto */
    margin-top: 10px;
}

.progreso hr {
    margin-top: 0px; /* justa el margen superior del hr */
    border: none; /* Elimina el borde del hr */
    border-top: 1px solid gray; /* Agrega un borde superior de 1px sólido */
    width: 100%; /* Ajusta el ancho al 100% */
    margin-bottom: 2vh;
}
/* CSS Siguientes eventos de PA */

/* .info-evento {
    border: solid 1px;
} */

.info-evento img {
    margin-left: 1vw;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-bottom: -2.5vh;
    width: 3em;
}

.info-evento span {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-evento p {
    font-size: 14px;
    margin-top: 0.5vh;
    margin-left: 10%;
}

/* Media queries para hacer el diseño responsivo */

@media screen and (max-width: 1400px) {
    .cuadro-principal {
        width: 89vw;
        height: fit-content;
    }

    .container-eventos-progreso {
        flex-direction: column;
        align-items: center;
    }

    .eventos,
    .progreso {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .cuadros-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cuadro-ind {
        width: 30%;
        margin: 10px;
    }
    
    .cuadro-ind img {
        height: auto;
        max-width: 300px;
    }

    .overlay {
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        /* top: 0;
        left: 0;
        display: flex;
         position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgba(92, 92, 92, 0.5);
        z-index: 1; */
    }
}

@media screen and (max-width: 1100px) {
    .cuadro-principal {
        width: 86.5vw;
        height: fit-content;
    }

    .container-eventos-progreso {
        flex-direction: column;
        align-items: center;
    }

    .eventos,
    .progreso {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .cuadros-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cuadro-ind {
        width: 25%;
        margin: 10px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(92, 92, 92, 0.5);
        z-index: 1;
    }
}

@media screen and (max-width: 768px){
    .cuadro-principal {
        width: 93vw;
        height: fit-content;
        margin-bottom: 2vh;
        font-size: smaller;
    }

    .container-eventos-progreso {
        flex-direction: column; 
        align-items: center;
    }

    .eventos,
    .progreso {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .cuadros-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cuadro-ind {
        width: 25%;
        margin: 10px;
    }

    .cuadro-ind img {
        height: auto;
        max-width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(92, 92, 92, 0.5);
        z-index: 1;
        font-size: small;
    }

    .overlay:hover {
        transform: scale(1.3);
        transition: ease-in-out 0.2s;
    }

    .cuadro-ind:hover .overlay h4 {
        font-size: small;
        transition: ease-in-out 0.4s;
        transform-origin: center; 
        object-fit: contain;
    }
}

@media screen and (max-width: 576px) {
    .cuadro-principal {
        width: -10vw;
        height: fit-content;
        font-size: smaller;
    }

    .container-eventos-progreso {
        flex-direction: column;
        align-items: center;
    }

    .eventos,
    .progreso {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .cuadros-nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cuadro-ind {
        width: 25%;
        margin: 10px;
        font-size: smaller;
    }
    
    .cuadro-ind img {
        height: auto;
        max-width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(92, 92, 92, 0.5);
        z-index: 1;
        font-size: small;
    }

    .overlay:hover {
        transform: scale(1.3);
        transition: ease-in-out 0.4s;
    }

    .cuadro-ind:hover .overlay h4 {
        font-size: small;
        transition: ease-in-out 0.4s;
        transform-origin: center; 
        object-fit: contain;
    }
}