/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  width: 92vw;
  height: 90vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  align-self: flex-end;
  overflow: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  background-color: #0071b0;
  color: #fff;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -ms-border-radius: 20px 20px 0px 0px;
  -o-border-radius: 20px 20px 0px 0px;
}

.cuadros-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px;
}

.cuadro-ind {
  position: relative;
  margin: 10px;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.cuadro-ind:hover {
  transform: scale(1.03);
  transition: transform 0.4s;
}

.cuadro-ind img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s;
  transform-origin: center;
  object-fit: contain;
}

/* Efecto de zoom al pasar el mouse sobre el cuadro */
.cuadro-ind:hover img {
  transform: scale(1.2);
  transform-origin: center;
  object-fit: contain;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.cuadro-ind:hover .overlay {
  transform: scale(1.1);
  transition: transform 0.4s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
}

.cuadro-ind:hover .overlay h4 {
  font-size: 20px;
  transition: ease-in-out 0.4s;
  transform-origin: center;
  object-fit: contain;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: grid; /* lo cambié de flex a grid */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index:1;
}

.cuadro-ind:hover .overlay {
  transform: scale(1.2);
  transform-origin: center;
  object-fit: contain;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.overlay h4 {
  margin: 0;
  color: white; /* Cambiar color a blanco */
  font-weight: bold; /* Hacer el texto en negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Efecto de sombreado */
}

.overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.4s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

/* Contenedor de Progreso y Siguientes Eventos */
.container-eventos-progreso {
  display: flex;
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
  /* height: auto; */
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
}

/* CSS Progreso de PA */

.eventos {
  border: solid 5px #e7e9f2;
  flex: 1;
  width: 45%;
  height: auto;
  margin-right: 1vw;
  border-radius: 10px;
}

.eventos hr {
  border: none;
  border-top: 5px solid #e7e9f2;
  width: 100%;
}
.evento-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.evento-icono {
  width: auto;
  margin-right: 10px;
}

.evento-detalle {
  flex-grow: 1;
}

.evento-detalle span {
  font-weight: bold;
  font-size: 16px;
}

.evento-detalle p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.evento-flecha img {
  width: 80%;
}

.siguienteseventos {
  background-color: #e7e9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}

.progreso {
  display: flex;
  width: 45%;
  flex: 1;
  border: solid 5px #e7e9f2;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.progreso span {
  margin-bottom: 10px;
  font-weight: bold;
}

.progresoPA {
  background-color: #e7e9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
}

.progresoContenido {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.progress-container {
  display: flex; /* Alinea los elementos hijos horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%; /* Ancho del 70% del contenedor */
}

.progress-container progress {
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

.progress-container span {
  /* border: solid 1px; */
  margin-top: 10px;
}

.progreso hr {
  margin-top: 0px; /* justa el margen superior del hr */
  border: none; /* Elimina el borde del hr */
  border-top: 1px solid gray; /* Agrega un borde superior de 1px sólido */
  width: 100%; /* Ajusta el ancho al 100% */
  margin-bottom: 2vh;
}
/* CSS Siguientes eventos de PA */

/* Estilos de las barras de porcentaje */
.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #0071b0;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
  position: relative;
}

.progress-bar::after {
  content: attr(data-progress) "%"; /* Muestra el valor del atributo data-progress seguido de "%"*/
  position: absolute; /* Posiciona el texto en relación a .progress-bar */
  right: 10px; /* Ajusta la posición horizontal */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 14px; /* Tamaño de fuente */
  align-items: center;
}

.progress-container {
  background-color: #e0e0e0; /* Color gris claro para el fondo */
  border-radius: 10px; /* Radio de borde curvo */
  overflow: hidden; /* Evita que la barra de progreso se desborde */
}

.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #0071b0;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
  position: relative;
  /*  */
  background: linear-gradient(to right, #0071b0, #0092e0, #0071b0);
  background-size: 200% 100%;
  animation: progress-bar-animation 2s linear infinite;
}

@keyframes progress-bar-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .info-evento {
    border: solid 1px;
} */

.info-evento img {
  margin-left: 1vw;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-bottom: -2.5vh;
  width: 3em;
}

.info-evento span {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-evento p {
  font-size: 14px;
  margin-top: 0.5vh;
  margin-left: 10%;
}

/* Media queries para hacer el diseño responsivo */

@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .container-eventos-progreso {
    /* flex-direction: column; */
    /* align-items: center; */
    align-items: stretch;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-bottom: 20px; */
  }

  .cuadros-nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .cuadro-ind {
    width: 10%;
    margin: 10px 10px;
  }

  .cuadro-ind img {
    height: auto;
    max-width: 300px;
  }

  .progreso span {
    font-size: medium;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    width: 92vw;
    margin-left: 6vw;
  }

  .container-eventos-progreso {
    /* flex-direction: column; */
    /* align-items: center; */
    align-items: stretch;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-left: 10px; */
  }

  .progreso span {
    font-size: medium;
  }

  .cuadro-ind {
    width: 15%;
    margin: 10px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    width: 91vw;
    /* margin-left: 7vw;         */
    font-size: smaller;
  }

  .container-eventos-progreso {
    /* flex-direction: column;  */
    align-items: center;
    align-items: stretch;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
  }

  .progreso span {
    font-size: medium;
  }

  .cuadro-ind {
    width: 30%;
    margin: 10px;
  }

  .cuadro-ind img {
    height: auto;
    max-width: 100%;
  }

  .overlay:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
  }

  .cuadro-ind:hover .overlay h4 {
    font-size: small;
    transition: ease-in-out 0.4s;
    transform-origin: center;
    object-fit: contain;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 90vw;
    height: 91vh; /* Mantener altura fija */
    margin-left: 2vw;
    font-size: smaller;
  }

  .container-eventos-progreso {
    flex-direction: column;
    align-items: stretch;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-right: 20px; */
    margin-bottom: 20px;
  }

  .progreso span {
    font-size: medium;
  }

  .cuadro-ind {
    width: 25%;
    margin: 10px;
    font-size: smaller;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: small;
  }

  .overlay:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.4s;
  }

  .cuadro-ind:hover .overlay h4 {
    font-size: small;
    transition: ease-in-out 0.4s;
    transform-origin: center;
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .cuadro-principal {
    width: 93vw;
    height: fit-content;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: smaller;
  }

  .bienvenida {
    font-size: small;
    padding: 10px;
  }

  .container-eventos-progreso {
    flex-direction: column;
    align-items: stretch;
  }

  .eventos,
  .progreso {
    width: 100%;
    /* margin-right: 20px; */
    margin-bottom: 20px;
  }

  .progreso span {
    font-size: medium;
    margin-bottom: 10px;
  }

  .cuadros-nav {
    display: none;
  }
}

