#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color:  #0071B0;
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: width .35s cubic-bezier(var(--transition-main), 1);
    -moz-transition: width .35s cubic-bezier(var(--transition-main), 1);
    -ms-transition: width .35s cubic-bezier(var(--transition-main), 1);
    -o-transition: width .35s cubic-bezier(var(--transition-main), 1);
    z-index: 1000;
    border-radius: 0px 20px 20px 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
}

#navbar:hover {
    width: 16em;
    border: solid 5px #E7E9F2;
    margin-left: -5px;
    margin-top: -5px;
}

#navbar:hover .navbar-logo img {
    content: url(../Img/LogoQCA.png);
    width: 85%;
    height: 55px;
}

.navbar-logo-container {
    width: 60px;
    height: 80px;
    overflow: hidden;
    transition: all 0.3s ease;
}

#navbar:hover .navbar-logo-container {
    width: 200px;
    height: 100px;
}

#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}

#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}

#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Navbar Logo */
.navbar-logo {
    margin: 10 0 2em 0;
    width: 100%;
    height: 7em;
    background:  #0071B0;
}

.navbar-logo>.navbar-item-inner {
    width: calc(50rem - 8px);
}

.navbar-logo>.navbar-item-inner:hover {
    background-color: transparent;
}

/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}

.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color:  #0071B0(255, 255, 255);
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}

.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: #fff;
    transform:scale(102%);
    -webkit-transform:scale(102%);
    -moz-transform:scale(102%);
    -ms-transform:scale(102%);
    -o-transform:scale(102%);
}

.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}

.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}

.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
    color: #fff;
}

#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

.icono-home{
    content: url(../Icons/Home.png);
    width: 220px;
    height: 60px;
}

.navbar-profile-icon {
    width: 5rem;
    /*80px/16px=5rem*/height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 5%;
    /*Ajustaestevalorsegúntusnecesidades*/left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.navbar-profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-icon-transition {
    width: 3.125rem;
    /*50px/16px=3.125rem*/height: 3.125rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#navbar:hover .profile-icon-transition {
    width: 5.625rem;
    /* 90px / 16px = 5.625rem */
    height: 5.625rem;
    bottom: 5%;
    /* Ajusta este valor según tus necesidades */
}

.profile-menu {
    display: none;
    position: absolute;
    background-color:  #0071B0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar-profile-icon:hover .profile-menu {
    display: block;
}

:root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;

    /* misc */
    --transition-main: .175, .685, .32;

}

/* =========
Flexbox
========= */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

hr {
    margin-top: 0px; /* justa el margen superior del hr */
    border: none; /* Elimina el borde del hr */
    border-top: 2px solid #fff; /* Agrega un borde superior de 1px sólido */
    width: 90%; /* Ajusta el ancho al 100% */
}

/* Cambio de color en el texto y el icono al pasar el mouse sobre las opciones */
.navbar-item-inner:hover .link-text,
.navbar-item-inner:hover .navbar-item-inner-icon-wrapper img {
    color: #0071B0; /* Cambia el color del texto a blanco */
}

.navbar-item-inner-icon-wrapper .hover-icon {
    display: none; /* Oculta el icono de hover por defecto */
}

.navbar-item-inner:hover .original-icon {
    display: none; /* Oculta el icono original cuando se activa el hover */
}

.navbar-item-inner:hover .hover-icon {
    display: inline-block; /* Muestra el icono de hover cuando se activa el hover */
}
