/* CSS del cuadro principal */

.cuadro-principal {
  background-color: white;
  border-radius: 20px;
  width: 92vw;
  height: 90vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* CSS Pestaña Descarga */

.info-descarga {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid 1px; */
}

.info-descarga p {
  font-size: large;
}

.icono-descarga {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-descarga img {
  width: 7vh;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -1vh;
  margin-bottom: 2vh;
}

.encabezado h3 {
  margin: 0;
}

.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

/* Botón de descarga */
.boton-descargar {
  appearance: none;
  backface-visibility: hidden;
  background-color: #0071b0;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: large;
  font-weight: 300;
  padding: 15px 20px;
  width: auto;
  letter-spacing: normal;
  line-height: 1;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.boton-descargar:hover {
  background-color: #0e81be;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: scale(102%);
  transition-duration: 0.35s;
  -webkit-transform: scale(102%);
  -moz-transform: scale(102%);
  -ms-transform: scale(102%);
  -o-transform: scale(102%);
}

.boton-descargar:after {
  opacity: 0.5;
}

.boton-descargar:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
}

.boton-descargar:active:after {
  opacity: 1;
}

.div-boton-descargar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}
/* CSS Pestaña subida */

.info-subida {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid 1px; */
  margin-top: -3vh;
  font-size: large;
  padding: 20px;
}

/* Contenedores de subida */
.container-peso {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #d9edf6;
  color: #0071b0;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
}

.container-precaucion {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #FDF8E4;
  color: #8B6E3B;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
}

.container-inf {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.container-inf button {
  margin-bottom: 15px;
}

.container-inf-dos {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.container-inf-dos button {
  margin-bottom: 15px;
}

/* Estilos para el Drag Area */

.drop-area {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border: dashed 2px;
  border-color: #c0c0c0;
  justify-content: center;
  align-items: center;
  margin-top: -1.5vh;
}

.drop-area p {
  margin-bottom: 5px;
  font-size: large;
  /* color: #c0c0c0; */
}

.drop-area button {
  margin-top: 15px;
}

.drop-area.active {
  background-color: #c5def1;
  color: black;
  border: 2px dashed #0e81be;
}

.boton-seleccionar-archivo {
  font-size: large;
  font-weight: 300;
  padding: 10px 20px;
  background-color: #fff;
  color: #0071b0;
  border: #0071b0 solid 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.boton-seleccionar-archivo:hover {
  background-color: #0071b0; /* Cambia el color de fondo cuando se pasa sobre el botón */
  color: #fff; /* Cambia el color del texto cuando se pasa sobre el botón */
  border-color: #fff; /* Cambia el color del borde cuando se pasa sobre el botón */
}

/* Botón para cancelar la subida del archivo */

.file-container .cancel-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.file-container .cancel-btn:hover {
  background-color: #c82333;
}

/* Estilos para mostrar el preview del archivo que se está subiendo */
.file-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.file-container .status {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.file-container .status-text {
  font-size: 14px;
  color: #10ad22;
}

.file-container .status-text.success {
  color: green;
}

.file-container .status-text.error {
  color: red;
}

#preview {
  margin-top: 10px;
}

.status-text {
  padding: 0 10px;
}

#mensaje p {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

#mensaje p.success {
  background-color: #d4edda;
  color: #155724;
}

#mensaje p.error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Estilos para las pestañas */
.tab-container {
  width: 100%;
  margin: 0 auto;
}

.tab-buttons {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c0c0c0;
  border-radius: 20px;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.tab-button {
  width: 50%;
  padding: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #c0c0c0;
  position: relative;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.tab-button.active {
  color: #0071b0;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0071b0;
}

.tab-button:first-child {
  border-top-left-radius: 20px;
}

.tab-button:last-child {
  border-top-right-radius: 20px;
}

.tab-content {
  padding: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.justification-container {
  max-width: 800px;
  margin-top: -40;
  padding: 25px;
}

.access-restricted {
  background-color: #fde8e8;
  width: 88vw;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.icon-circle {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 25px;
}

.icon-circle img {
  width: 80px;
  height: 80px;
}

.access-restricted h2 {
  color: #dc3545;
  margin-bottom: 25px;
  font-size: 28px;
}

.access-restricted p, .access-restricted ul {
  color: #721c24;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.access-restricted ul {
  text-align: left;
  padding-left: 35vw;
}

#formulario-justificacion textarea {
  width: 89vw;
  padding: 15px;
  border: 2px solid #ced4da;
  border-radius: 8px;
  resize: vertical;
  margin-bottom: 20px;
  font-size: 16px;
}

.boton-continuar {
  background-color: #0071b0;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: block;  /* Hace que el botón sea un elemento de bloque */
  margin: 0 40vw;  /* Centra el botón horizontalmente */
  width: fit-content;  /* Ajusta el ancho del botón al contenido */
}

#preview button {
  position: relative;
  top: 7px;
}

.boton-continuar:hover {
  background-color: #005a8e;
}

.boton-continuar.disabled {
  background-color: #cccccc; /* Gris claro */
  cursor: not-allowed;
}

.boton-continuar:not(.disabled) {
  background-color: #007bff; /* Color original del botón */
  cursor: pointer;
}

/* Media Queries para diferentes resoluciones */

@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 92vw;
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .swal2-x-mark-line-left,
  .swal2-x-mark-line-right,
  .swal2-success-line-tip,
  .swal2-success-line-long {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    width: 92vw;
    margin-left: 6vw;
  }

  .swal2-x-mark-line-left,
  .swal2-x-mark-line-right,
  .swal2-success-line-tip,
  .swal2-success-line-long {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    width: 91vw;
    margin-left: 7vw;
    font-size: small;
  }

  .swal2-x-mark-line-left,
  .swal2-x-mark-line-right,
  .swal2-success-line-tip,
  .swal2-success-line-long {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .cuadro-principal {
    width: 90vw;
    margin-left: 8vw;
    margin-bottom: 2vh;
    font-size: 1rem;
  }

  .tab-content p {
    font-size: 1rem;
  }

  .div-boton-descargar button,
  .container-inf button {
    font-size: 0.9rem;
  }

  .info-subida p {
    font-size: 1rem;
  }
  
  .drop-area p,
  .drop-area button {
    font-size: 1rem;
  }

  .container-peso h3,
  .container-precaucion h3 {
    font-size: 0.9rem;
  }

  .swal2-x-mark-line-left,
  .swal2-x-mark-line-right,
  .swal2-success-line-tip,
  .swal2-success-line-long {
    font-size: 1rem;
  }

  .titulo-bd {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    width: 96vw;
    height: 91vh; /* Mantener altura fija */
    margin-left: 2vw;
    font-size: smaller;
  }

  .tab-content p span {
    font-size: smaller;
  }

  .tab-buttons button {
    font-size: 0.9rem;
  }

  .info-descarga p {
    font-size: 1rem;
  }

  .div-boton-descargar button,
  .container-inf button {
    font-size: 0.9rem;
  }

  .info-subida p {
    font-size: 1rem;
  }

  .drop-area p,
  .drop-area button {
    font-size: 1rem;
  }

  .container-peso h3,
  .container-precaucion h3 {
    font-size: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .swal2-x-mark-line-left,
  .swal2-x-mark-line-right,
  .swal2-success-line-tip,
  .swal2-success-line-long {
    font-size: 1rem;
  }

  .titulo-bd {
    width: 350px;
  }
}
