/* CSS del cuadro principal */

.cuadro-principal {
    background-color: white;
    border-radius: 20px;
    width: 91.2vw;
    height: fit-content;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    align-self: flex-end;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado h3 {
    margin: 0;
}

.titulo-bd {
    color: #fff;
    width: 30vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background-color: #0071b0;
}

/* Tabla */

.tabla {
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    /* border: solid; */
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 20px; */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

th {
    /* background-color: #0071b0; */
    color: black;
    /* border-radius: 10px 10px 0px 0px; */
    border-bottom: solid #0071b0;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
    border: solid 1px 0x #2c3e50;
} */

/* .iconos-bd {

} */

/* CSs paginacion */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.pagination a.active {
    background-color: #0071b0;
    color: white;
    border: 1px solid #0071b0;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*icono y Boton Buscar */

.icono-buscador {
    margin-left: 40px;
    cursor: pointer;
    background-color: #0071b0;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}

.barra-buscador {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#input-buscador {
    padding: 5px;
    margin-right: 5px;
    border: #0071b0 1px;
}

#btn-buscar {
    padding: 5px 10px;
    background-color: #0071b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .cuadro-principal {
        width: 90vw;
        height: fit-content;
    }    
}

@media screen and (max-width: 1100px) {
    .cuadro-principal {
        width: 88vw;
        height: fit-content;
    }
}

@media screen and (max-width: 768px){
    .cuadro-principal {
        width: 95vw;
        height: fit-content;
        margin-bottom: 2vh;
        font-size: smaller;
    }
}

@media screen and (max-width: 576px) {
    .cuadro-principal {
        width: 96vw;
        height: fit-content;
        font-size: smaller;
    }

    .encabezado {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .encabezado h2 {
        margin: 0;
        font-size: medium;
    }
    
    /* Tabla */
    
    .tabla {
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
        font-size: smaller;
    }
    
    th {
        /* background-color: #0071b0; */
        color: black;
        /* border-radius: 10px 10px 0px 0px; */
        border-bottom: solid #0071b0;
    }
}