/* CSS del cuadro principal */
/* NOTA: Los estilos del modal estan en el PHP: Debido a que no los detectaba desde el CSS. */

.cuadro-principal {
  background-color: white;
  width: -webkit-fill-available;
  height: 91.5vh;
  margin-left: 6vw;
  margin-right: 2vw;
  margin-top: 1vh;
  align-self: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 5 0 5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Mozilla */
@-moz-document url-prefix() {
  .cuadro-principal {
    background-color: white;
    width:-moz-available;
    height: 91.5vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    align-self: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 5 0 5;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.cuadro-scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Encabezado */
.encabezado {
  display: flex;
  width: auto; /* Permitir que se ajuste automáticamente */
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1; /* Ocupa el espacio disponible */
  margin-bottom: 20px;
}

/* Alineacion de texto de encabezado */
.encabezado h3 {
  margin: 0;
}

/* Estilos de texto de encabezado */
.titulo-bd {
  color: #fff;
  width: 30vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: #0071b0;
}

/* Contenedor principal de las barras de solicitudes */
.solicitud-contenedor-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

/* Informacion resumen del contenedor principal */
.info-sup {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fff;
  width: 90%;
  position: relative;
  height: fit-content;
  box-shadow: 0px 2px 4px rgb(161, 161, 161);
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.nombre-dpto-solicitud {
  display: flex;
  flex-direction: column;
}

.nombre-dpto-solicitud span:nth-child(odd) {
  margin-right: 10px;
  opacity: 0.7;
  margin-left: 50px;
}

.nombre-dpto-solicitud span:nth-child(even) {
  font-weight: bold;
  margin-left: 50px;
}

.fecha-hora-status {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.fecha-hora-status span:nth-child(odd) {
  margin-right: 10px;
  opacity: 0.7;
  margin-left: 50px;
  font-weight: bold;
}

.fecha-hora-status span:nth-child(even) {
  font-weight: bold;
  margin-left: 50px;
}

.fecha-hora-status .circulo-en_revision,
.fecha-hora-status .circulo-aprobado,
.fecha-hora-status .circulo-rechazado,
.fecha-hora-status .circulo-pendiente {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

/* Banner izquierdo de color */
.color-en_revision,
.color-aprobado,
.color-pendiente,
.color-rechazado {
  width: 25px;
  height: 100%;
  top: 0px;
  border-bottom-left-radius: 10px; 
  border-top-left-radius: 10px; 
}
.color-en_revision { background-color: #50A1FF; }
.color-pendiente { background-color: #FFD951; }
.color-aprobado { background-color: #57B661; }
.color-rechazado { background-color: #EC4E4E; }

/* Color circulo/simbolo de estado */
.circulo-en_revision,
.circulo-aprobado,
.circulo-pendiente,
.circulo-rechazado {
  font-size: 0.5rem;
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.circulo-en_revision { color: #50A1FF; }
.circulo-aprobado { color: #57B661; }
.circulo-rechazado { color: #EC4E4E; }
.circulo-pendiente { color: #FFD951; }

/* Titulo de la solicitud */
#departamento,
#solicitud-baja,
#solicitud-baja-propuesta,
#solicitud-propuesta,
.nombre-departamento,
.nombre-solicitud {
  align-self: center;
  font-weight: bold;
  border: none;       
  cursor: default;
  pointer-events: none;
  outline: none;
  background: none;  
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
/* agregar margin-left de excepcion a baja y propuesta. */
#solicitud-baja { margin-right: 158px; }
#solicitud-propuesta { margin-right: 101px; }

/* Tamaño de fuente para nombre de solicitud y departamento. */
#departamento,
.nombre-departamento {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1rem;
}
#solicitud,
.nombre-solicitud {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.2rem;
}

/* Texto de estado de solicitud */
#pendiente,
#rechazado,
#aprobado,
#en-revision,
.estado-solicitud {
  position: relative;
  align-self: center;
  font-size: 0.9rem;
  border: none;       
  cursor: default;
  pointer-events: none;
  outline: none;
  background: none;  
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  top: 2px;
  margin-right: 15px;
}

/* Estilos de inputs de fecha y hora */
.fecha-solicitud,
.hora-solicitud,
#campo-fecha,
#campo-hora {
  align-self: center;
  border: none;       
  cursor: default;
  pointer-events: none;
  outline: none;
  background: none;  
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  opacity: 80%;
  margin-right: 15px;
}

/* Icono flecha, al extremo derecho del contenedor */
.icono-despliegue {
  height: 100%;
  position: absolute;
  top: 33%;
  align-self: center;
  right: 30px;
  font-size: 45px;
  text-align: right;
  color: #0071b0;
}

.icono-despliegue i {
  transition: transform 0.3s ease;
}

.icono-despliegue i.rotated {
  transform: rotate(90deg);
}

.lista-opciones {
  display: none;
  position: absolute;
  bottom: 100%; /* Cambia de top a bottom */
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 5px; /* Añade margen inferior */
  padding: 0;
  list-style: none;
  z-index: 1000;
  width: 100%;
}

/* Contenedor del boton para el jefe de departamento pueda crear nueva solicitud */
.container-boton-nueva-solicitud {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

/* boton para el jefe de departamento pueda crear nueva solicitud */
.boton-nueva-solicitud {
  width: 100%;
  padding: 10px;
  background-color: #0071B0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 2px 2px rgb(185, 174, 174);
}

/*  Estilos de la lista de opciones de solicitud */
.lista-opciones {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: -165px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0;
  list-style: none;
  z-index: 1000;
  width: 100%;
}

.lista-opciones.show {
  display: block;
  position: relative;
}

/* Ajustar la animación si es necesario */
.lista-opciones li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.lista-opciones li:hover {
  background-color: #f5f5f5;
}

.lista-opciones li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.lista-opciones li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Estilos del contenedor desplegable */
.contenedor-informacion {
  display: none; /* Cambiado de max-height a display */
  background-color: #e7e9f2;
  margin: 0 auto;
  width: 85%;
  /* padding: 20px 0; */
  border-radius: 12px;
  border: 5px solid #E7E9F2;
  box-shadow: 0px 3px 7px rgb(161, 161, 161);
  margin-top: -20px;
  margin-bottom: 30px;
  transition: all 0.3s ease-out;
}

.contenedor-informacion.mostrar {
  margin-bottom: 30px;
  opacity: 1;
}

/* Aumento de tama;o para evitar desborde de boton PDF */
.contenedor-informacion.active {
  max-height: 700px!important;
} 

/* Asegurarse que el botón de nueva solicitud esté siempre visible */
.container-boton-nueva-solicitud {
  margin-top: auto;
  padding: 20px 0;
}

/* Css de no solicitudes */

.no-solicitudes {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.color-sin-solicitudes {
  background-color: #ddd;
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mensaje-sin-solicitudes {
  text-align: center;
  padding: 60px 40px;
  width: 100%;
}

.mensaje-sin-solicitudes i {
  font-size: 48px;
  color: #888;
  margin-bottom: 20px;
  display: block;
}

.mensaje-sin-solicitudes h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.mensaje-sin-solicitudes p {
  color: #666;
  font-size: 16px;
  margin: 0;
}

.solicitudes-scroll-container {
  height: calc(100% - 200px); /* Ajusta este valor según el espacio que necesites */
  overflow-y: auto;
  /* margin-bottom: 20px; */
  padding-right: 10px; /* Espacio para la barra de scroll */
}

/* Estilizar la barra de scroll */
.solicitudes-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.solicitudes-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.solicitudes-scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.solicitudes-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos del contenedor de la materia, en el contenedor desplegable */
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 96.5%; */
  overflow-y: auto;
  overflow-x: hidden;
  white-space: wrap;
  word-wrap:normal;
  word-break: keep-all;
  background-color: #ffffffad;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}
.CRN,
.materia,
.clave,
.SEC,
.folio,
.paterno,
.materno,
.nombres,
.codigo,
.motivo {
  font-weight: bold;
}
#info-CRN,
#info-materia,
#info-clave,
#info-SEC,
#info-folio,
#info-paterno,
#info-materno,
#info-nombres,
#info-codigo,
#info-motivo,
#info-paterno-propuesto,
#info-materno-propuesto,
#info-nombres-propuesto,
#info-codigo-propuesto {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  margin-left: 1px;
  margin-bottom: -10;
  margin-top: -10;
  border-style: none;
  outline: none;
  background-color: inherit;
  white-space: wrap;
}

.titulo-info {
  position: relative;
  height: 10px;
  left: 50px;
  font-weight: bold;
  color: rgb(94, 94, 94);
}
.contenedor-izquierdo,
.contenedor-derecho,
.contenedor-centro {
  display: inline-block;
  margin-left: 25px;
  width: 30%;
}

/* Estilos para todos los casos */
.contenedor-botones {
  padding: 15px;
  border-top: 1px solid #eee;
  text-align: center;
}

.boton-pdf {
  background: #2c3e50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.aviso-pdf-no-disponible {
  /* background: #f8f9fa; */
  color: #6c757d;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid #dee2e6; */
  font-size: 0.9em;
}

/* Botón Generar PDF */
.boton-generar {
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Botón Descargar PDF */
.boton-descargar {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Sweet alert pantalla de carga al generar pdf*/
.swal2-loader-center {
  display: flex !important;
  justify-content: center !important;
  margin: 1em auto !important;
}

/* Media Queries para diferentes resoluciones */
@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .cuadro-principal {
    background-color: white;
    border-radius: 20px;
    /* width: 92%; */
    height: 90vh;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .cuadro-principal {
    /* width: 92%; */
    margin-left: 6vw;
  }
  .info {
    /* width: 95.5%; */
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .cuadro-principal {
    /* width: 91%; */
    margin-left: 7vw;
    font-size: small;
  }
  .texto-inferior {
    padding-top: 4px;
  }
  .info {
    /* width: 95%; */
  }
  .contenedor-informacion {
    height: 72%;
  }
}

@media screen and (max-width: 992px) {
  .cuadro-principal {
    /* width: 90%; */
    margin-left: 8vw;
    margin-bottom: 2vh;
    font-size: smaller;
  }
  .texto-inferior {
    padding-top: 5px;
  }
  .info {
    /* width: 93%; */
  }
  .contenedor-informacion {
    height: 72%;
  }
  .texto-inferior {
    padding-top: 4px;
  }
  .contenedor-centro,
  .contenedor-derecho,
  .contenedor-izquierdo {
    width: 35%;
  }
  .estado-solicitud,
  #en-revision,
  #rechazado,
  #aprobado,
  #pendiente {
    font-size: 0.8rem;
  }
  #info-CRN,
  #info-materia,
  #info-clave,
  #info-SEC,
  #info-folio,
  #info-paterno,
  #info-materno,
  #info-nombres,
  #info-codigo,
  #info-motivo,
  #info-paterno-propuesto,
  #info-materno-propuesto,
  #info-nombres-propuesto,
  #info-codigo-propuesto {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 930px) {
  .contenedor-informacion {
    height: 72%;
  }
}

@media screen and (max-width: 768px) {
  .cuadro-principal {
    /* width: 96%; */
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: smaller;
  }
  .nombre-solicitud,
  .nombre-departamento,
  #departamento,
  #solicitud {
    font-size: 0.8rem;
  }
  .boton-nueva-solicitud,
  .lista-opciones {
    font-size: 0.9rem;
  }
  .icono-despliegue {
    font-size: 35px;
  }
}

@media screen and (max-width: 660px) {
  .cuadro-principal {
    /* width: 96%; */
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: smaller;
  }
}

@media screen and (max-width: 490px) {
  .cuadro-principal {
    /* width: 96%; */
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: smaller;
  }
}

/* Responsividad de Zoom para navegadores Chromium */
@media screen and (max-height: 900px) { 
  .header { 
    zoom: 90%; 
  }
  body .cuadro-principal {
    zoom: 90%;
    height: 102vh;
  }
}
@media screen and (max-height: 768px) { 
  .header { 
    zoom: 80%; 
  }
  body .cuadro-principal {
    zoom: 80%;
    height: 114.5vh;
  }
}
@media screen and (max-height: 700px) { 
  .header { 
    zoom: 65%; 
  }
  body .cuadro-principal {
    zoom: 65%;
    height: 141.5vh;
  }
}
@media screen and (max-height: 600px) { 
  .header { 
    zoom: 60%; 
  }
  body .cuadro-principal {
    zoom: 60%;
    height: 152.5vh;
  }
}